.container{
    padding: 0px 10px;
    margin-top: var( --hight-header);
    
    position: fixed;
    width: 20%;

    max-height: 90vh;
    overflow: hidden;
    &:hover{
        overflow-y: auto;
    }
}

.blockItem{
    padding: 10px 0px;
    border-bottom: 1px solid var(--color-border);
}

.content{
    padding: 12px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #606060;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    line-height: 2.4rem;
    padding: 12px;
    font-size: 1.4rem;

}