.wrapper{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-between;
}

.sideBar{   
    background-color: var(--white-color);
}

.content{
    width: 80%;
}