@import 'normalize.css';

:root {
    --font-family: "Roboto","Arial",sans-serif;
    
    //header
    --hight-header: 56px;
    --search-hight: 40px;
    --search-wight: 520px;

    //
    --color-border: #cccccc;
    --white-color: #ffffff;
    --hover-color: #f2f2f2;
    --black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
}

