.item {
    padding: 8px 16px;
    font-size: 1.6rem;
    
    display: flex;
    align-items: center;

    text-decoration: none;
    
    &:hover{
        cursor: pointer;
        background-color: var(--hover-color);
    }
}

.icon{
    padding-right: 14px;
}

.content{
    color: var(--black-color);
}